@font-face {
  font-family: 'customFont';
  // ~@ってやらないと読み込まれない
  src: url('~@/assets/font/Mplus1p-Regular.ttf') format('truetype');
}

// 全体にフォントを適応させたい場合は↓このように書く
// * {
//   font-family: 'customFont';
// }

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.m-btm {
  &--10 {
    margin-bottom: 10px !important;
  }

  &--m15 {
    margin-bottom: -15px !important;
  }

  &--20 {
    margin-bottom: 20px !important;
  }

  &--30 {
    margin-bottom: 30px !important;
  }
}

.m-top {
  &--10 {
    margin-top: 10px;
  }

  &--20 {
    margin-top: 20px;
  }

  &--30 {
    margin-top: 30px;
  }
}
